*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    background-image: radial-gradient(circle, #000cff, #0115ff, #031bff, #0520ff, #0725ff, #0030ff, #003aff, #0042ff, #004fff, #005bff, #0065ff, #006fff);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 22%;
}
.cardDiv{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.textCentral{
    position: relative;
    bottom: 160px;
}
.content{
    display: flex;
    flex-direction: row;
}
.cloud > i{
    font-size: 35px;
    color:  rgb(255, 217, 0);
}
.cloud{
    position: relative;
    bottom: 160px;
    left: 5px;
}
.textCard{
    color: black;
}
#card{
    background-color: white;
    border-radius: 30px;
    width: 250px;
    height: 300px;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
   flex-direction: column;
   position: relative;
   bottom: 150px;
}
#cidade{
    outline: 0;
    border-style: none;
    width: 150px;
}
#input{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 20px;
}
#resultado{
    margin-top: 20px;
    color: black;
    
}
#previsao{
    margin-top: 30px;
    
}
.buttonStyle{
    border-style: none;
    background-color: white;
    cursor: pointer;
}
.buttonStyle > i{
    font-size: 20px;
    color: #000cff;
}
.localStyle{
    font-size: 20px;
    color: #000cff;
    position: relative;
    top: 5px;
}
input{
    border: 0px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 30%; 

    .searchLocal {
        width: 70%;
    }


}
}

@media screen and (max-width: 480px) {
    .container {
        margin-top: 40%;
    }

    .searchLocal {
        width: 30%;
    }

}

